/* Animações */
@keyframes planetasLevitando {
    0% {
        margin-bottom: -5px;
    }

    25%{
        margin-bottom: 10px;
    }

    50% {
        margin-bottom: 15px;
    }
    75%{
        margin-bottom: 10px;
    }
    100%{
        margin-bottom: -5px;
    }
}

html, body{
    background-image: url(../assets/img/galaxia.jpg);
    background-color: #2e0f4bab;
    background-blend-mode: darken;
}

.tela {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.form{
    width: 30%;
    height: 80%;
    margin-top: 5%;
    background-image: linear-gradient(to bottom, #A974DB,#7c2fc5, #2e0f4b);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form .btn{
    width: 60%;
    border-radius: 10px;
}

.bloco-form{
    width: 70%;
}

.bloco-form input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.bloco-form span{
    color: #E9E0F5;
    font-weight: bold;
    font-size: 20px;
}

.linha-form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.titulo {
    position: absolute;
    align-self: flex-start;
    color: #E9E0F5;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: .3vw;
    background-color: rgb(27, 0, 78);
    padding: 5px;
    border-radius: 10px;
}

/* tela1 */
.telaEtapa1 .container{
    justify-content: center;
    align-items: center;
}

.linha-form .ddd{
    width: 30%;
}
.linha-form .numeroTel{
    width: 60%;
}

/* tela2 */
.telaEtapa2 .container{
    justify-content: space-evenly;
    align-items: center;
}

.bloco-imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloco-imagem span{
    color: #E9E0F5;
    font-weight: bold;
    font-size: large;
    /* background-color: #2e0f4b; */
    /* padding: 5px; */
}
.bloco-imagem img{
    width: 120px;
    height: 120px;
    cursor: pointer;
    /* background-color: red; */
}


.bloco-imagem .planeta{
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

.bloco-imagem .mercurio{
    height: 50px;
    width: auto;
    animation: planetasLevitando 2s ease;
    animation-iteration-count: infinite;
}
.bloco-imagem .venus{
    height: 100px;
    width: auto;
    animation: planetasLevitando 3.5s ease;
    animation-iteration-count: infinite;
}
.bloco-imagem .terra{
    height: 110px;
    width: auto;
    animation: planetasLevitando 4s ease;
    animation-iteration-count: infinite;
}
.bloco-imagem .marte{
    height: 90px;
    width: auto;
    animation: planetasLevitando 4s ease;
    animation-iteration-count: infinite;
}
.bloco-imagem .jupiter{
    height: 200px;
    width: auto;
    animation: planetasLevitando 6.5s ease;
    animation-iteration-count: infinite;
}   
.bloco-imagem .saturno{
    height: 260px;
    width: auto;
    animation: planetasLevitando 6s ease;
    animation-iteration-count: infinite;
}
.bloco-imagem .urano{
    height: 150px;
    width: auto;
    animation: planetasLevitando 7s ease;
    animation-iteration-count: infinite;
}
.bloco-imagem .netuno{
    height: 130px;
    width: auto;
    animation: planetasLevitando 7.5s ease;
    animation-iteration-count: infinite;
}
/* tela 3 */
.colunaTela3 {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colunaTela3 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.img-diaNoite {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.sol {
    background-image: radial-gradient(yellow, orange, red);
    box-shadow: 5px 5px 50px yellow;
}

.lua {
    background-image: radial-gradient(darkgray, gray, lightgray);
    box-shadow: 5px 5px 50px white;
}

.btn-diaNoite {
    width: 15vw;
    height: 10vh;
    background: none;
    border: 5px solid #E9E0F5;
    letter-spacing: 5px;
    border-radius: 10px;
}

/* tela 4 */

.telaEtapa4 .container{
    justify-content: center;
    align-items: center;
}

.formulario-Etapa4 p{
    color: #E9E0F5;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    background-color: #2e0f4b;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
}

.linhaNivel{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    display: none;
}
.nivel{
    width: 33%;
    height: 100%;
    border-radius: 50px;
    margin-top: 10px;
    /* background-color: white; */
}