body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0B0013;
    /* width: 100vw; */
    /* height: 100vh; */
}

.container{
    width: 90%;
    height: 100%;
    display: flex;
    border: 2px solid red;
}